* {
	box-sizing: border-box;	
}

html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: "Roboto", Arial, sans-serif;
}

.clearfix {
	content: "";
  display: table;
  clear: both;
}

#wrapper {
	width: 100%;
	height: 100%;
	padding: 40px 30px;
}

.coluna {
	float: left;
	
	height: 100%;

	border: solid 1px #519D9E;
	border-radius: 4px;
}
.coluna-header {
	padding: 2px;

	color: white;
	text-align: center;

	background-color: #519D9E;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

#toolbar {
	width: 15%;
}

#pagina {
	position: relative;

	width: 53%;
	margin: 0 1%;
} 

#dados {
	width: 30%;
}

.toolbar-secao {
	padding: 4px;
	margin: 10px;
	margin-bottom: 0;

	background-color: #EFFFE9;
	border: solid 1px #519D9E;
	border-radius: 4px;
}
.toolbar-secao-label{
	margin: .2em;

	font-size: .9em;
}

.toolbar-secao-titulo {
	margin: .8em .2em;
}

.toolbar-secao-item {
	
}

.page-draggable {
	height: calc(100% - 65px);
	padding: 4px;
}

.page-button {
	position: absolute;
	right: 0;
	bottom: 0;
}
/* pagina */

.content-page {
	height: 100%;
}

.title-page {
	text-align: center;
}
.subtitle-page {
	text-align: center;	
}
.img-page {
	display: block;
	max-height: 400px;
	max-width: 100%;
	margin: 0 auto;
}
.img-page.multiples {
	max-height: 200px;
	margin-top: 10px;
}

.anchor-page {
	display: block;
	padding: 10px 4px;
	margin: 0 auto;

	text-align: center;
	text-decoration: none;

	background: #d3d3d3;
	border: solid 1px #909090;
	border-radius: 4px;
}

/* modal */
.modal {
	position: fixed;
	top: 0;
	left: 0;

	visibility: hidden;
	width: 100%;
	height: 100%;

	background-color: rgba(50,50,50,.5);
}
.modal.open {
	visibility: visible;
}

.modal-content {
	position: absolute;
	top: 50%;
	left: 50%;

	display: block;
	width: auto;
	padding: 10px;
	
	background-color: #f0f0f0;
	border: solid 1px #444;
	border-radius: 4px;
	
	-webkit-transform: translate3d(-50%,-50%,0);
	-ms-transform: translate3d(-50%,-50%,0);
	-o-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}
.modal-content > div {
	margin-top: 6px;
}

.modal-button {
	display: block;
	width: 100%;
	padding: 10px;
	margin-top: 10px;

	border: solid 1px #444;
	border-radius: 4px;
}